<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Maii
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Maii
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <%if session.fetch(:user_id) != nil%>
          <li class="nav-item">
            <a class="nav-link" href="/administradoras">Agregar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/favoritos">Comparador</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portafolio">Mi portafolio</a>
          </li>
        <%end%>
        <li class="nav-item">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <%if session.fetch(:user_id) == nil%>
          <li class="nav-item">
            <a class="nav-link" href="/user_sign_up">Unete a Maii</a>
          <%end%>
        </li>
        <%if session.fetch(:user_id) == nil%>
          <li class="nav-item">
            <a class="nav-link" href="/user_sign_in">Entra a tu cuenta</a>
          </li>
        <%else%>
          <li class="nav-item">
            <a class="nav-link" href="/user_sign_out">Salir de tu cuenta</a>
          </li>
        <%end%>
      </div>
    </div>
  </nav>
